<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Notes - Login</title>
</head>
<body>
    <h1>Notes - Login</h1>
    {% for message in get_flashed_messages() %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
    <form action={{ url_for("login") }} method="POST">
        <input type="email" name="email" title="Email" placeholder="Email"/>
        <input type="password" name="password" title="Password" placeholder="Title"/>
        <input type="submit" value="Login" />
    </form>
    <p>
        <span>Not registered?</span>
        <span>
            <a href={{ url_for('register') }}>Register here!</a>
        </span>
    </p>
</body>
</html>